
nav{
    margin: auto;
    margin-bottom: 18px;
    height: 100px;
    background-color: whitesmoke;
    color: rgb(233, 135, 152);
    border-style: solid;
    border-width: 15px;
    border-color: white;
    border-radius: 25px;
}
body{
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/regal.png");
}
article{
    width: 650px;
    padding:10px;
    margin-left: 32px;
    margin-right: 15px;
    float: left;
    line-height: 1.75;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    border-radius: 25px;
    color: rgb(233, 135, 152);
    font-family: 'Georgia', Times, serif;
    
}
aside{
    width: 270px;
    text-align: center;
    margin-right: 32px;
    margin-left: 40px;
    float: right;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    border-radius: 25px;
}
h1, h2, h3{
    font-family: 'Georgia', Times, serif;
    color: rgb(233, 135, 152);
}
h1{
    float: left;
    margin-left: 15px;
    font-size: 40px;
}
h2{
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 3px;
}
p{
    color: rgb(233, 135, 152);
}
.link{
    float: right;
    padding: 5px;
    margin: 15px;
    margin-top: 35px;
    color: rgb(233, 135, 152);
    text-decoration: none;
    font-family: 'Georgia', Times, serif;
}
#mepic{
    width: 220px;
    height: 180px;
    margin: 10px;
    float: left;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}
.portpic{
    float:left;
    width: 250px;
    height: 200px;
    margin: 20px;
    position: relative;
}
.social{
    height: 70px;
    width: 70px;
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
}
footer{
    text-align: center;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    color: gray;
    background-color: rgb(184, 178, 178);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 15px;
}
#contactform{
    text-align: left;
}
#message{
    width: 300px;
    height: 200px;
}
label{
    margin-top: 0px;
    float: left;
    margin-right: 10px;
}


#dogtxt, #cat, #fish, #turtle, #bunny{
    background: #4aaaa5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    height: 20px;

    position:absolute;
    bottom:0;

}
#port{
    text-align: center;
    position: relative;
}